<template name="sildebar">
	<div id="sidebar-left" class="span2">
		<div class="nav-collapse sidebar-nav">
			<ul class="nav nav-tabs nav-stacked main-menu">
				<li><a href="{{pathFor 'studentList' pageNum=1}}"><i class="icon-user"></i><span class="hidden-tablet"> Student</span></a></li>
				<li><a href="{{pathFor 'classList'}}"><i class="icon-sitemap"></i><span class="hidden-tablet"> Class</span></a></li>
                <li><a href="{{pathFor 'dataList'}}"><i class="icon-reorder"></i><span class="hidden-tablet"> Class Data</span></a></li>
			</ul>
		</div>
	</div>
</template>